//params.kradb="/blue/bphl-florida/share/kraken_databases"
//params.krdbName = "maxikraken2_1903_140GB"

params {
    // Pipeline version
    version = '1.0.0dev'
    // default assembler
    asb_tool = ''
    lr_type = ''
    help = false
    kradb = ''
    krdbName = ''
    // Canu parameters
    //useGrid=false
    //rawErrorRate = 0.500
    //correctedErrorRate = 0.144
    //minReadLength = 1000
    //minOverlapLength = 500
    //params.canu_options = false
    //unicycler parameter
    mode = 'normal'
}

process {
       
    withName: krakenMax {
        //container = '/apps/staphb-toolkit/containers/kraken2_2.1.2-no-db.sif'
        container='docker://staphb/kraken2:2.0.8-beta'
        cpus = 16
        memory = '160 GB'
        time = '30 min'
    }
    withName: amrfinderplus {
        container = 'staphb/ncbi-amrfinderplus'
        cpus = 8    
    }
    
    withName:mash {
        container = 'staphb/mash:2.2'
        cpus = 8

    }

    withName:hb_unicycler {
        container = 'staphb/unicycler'
        cpus = 8
        memory = '64 GB'  

    }
   
    withName:hb_dragonflye {
        container = 'docker://staphb/dragonflye:1.0.14'
        cpus = 8
        memory = '16 GB'

    }
    
    withName:pilon {
        container = 'staphb/pilon:1.24' 
        cpus = 16
        //memory = '64 GB'
    }

    withName:hb_canu {
        container = 'staphb/canu'
        //cpus = 16
        //memory = '16 GB'
    }
    withName:minimap { 
        container = 'staphb/minimap2:2.25'
       
    }

    withName:bwa_aln {
        container = 'staphb/bwa:0.7.17'
        cpus = 8
        memory = '32 GB'
    }

    withName:samtools_conv {
        container = 'staphb/samtools'                                                                                                                                                                      
            }
    
    withName:quast {
        container = 'staphb/quast:5.0.2'
       
    }
    
    withName:prokka {
        container = 'staphb/prokka'                                                                                                                                                                        
        cpus = 8                                                                                                                                                                                           
    }
    
   withName:pgap_antn {
        cpus = 16 
	memory = '32 GB'
    }
    withName:ani {
	memory = '32 GB'
	cpus = 16
    }

    withName:longqc { // process selector for longqc to use a container instead add --singularity
       container = 'cymbopogon/longqc'
       cpus = 16
       memory = '32 GB'
       
    }

    withName:fastp { // process selector for fastp to use a container instead add --singularity
       container = 'staphb/fastp'
    }

    env.APPTAINERENV_TMPDIR='/temp'
    NXF_SINGULARITY_CACHEDIR='./'
}

 //env.APPTAINERENV_TMPDIR='./'
 //env.NXF_SINGULARITY_CACHEDIR='./'

singularity {
    enabled = true
    //libraryDir library dir for images
}


mail {
    smtp.host = 'smtp.gmail.com'
    smtp.port = 25
}  

apptainer {
    autoMounts = true
}


/*
timeline {
    enabled = true
    file = "$params.outdir/timeline.html"
}
*/